<div class="container">
    <div class="row row-centered">
        <h1>Account Creation</h1>
            <div class="create_from col-md-6 col-centered">
                <form id="create_account">
                    <div class="form-group">
                        <label for="gender" class="control-label">Gender</label>
                        <select class="form-control">
                            <option selected>Male</option>
                            <option>Female</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="eye_colour" class="control-label">Eye Colour</label>
                        <input type="text" class="form-control" id="eye_colour" name="eye_colour" value="" required="" title="Please enter you eye colour" placeholder="Blue">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="skin_tone" class="control-label">Skin Tone</label>
                        <select class="form-control">
                            <option value="1">Type I (scores 0–6) Pale white; blond or red hair; blue eyes; freckles — Always burns, never tans</option>
                            <option value="2">Type II (scores 7–13) White; fair; blond or red hair; blue, green, or hazel eyes — Usually burns, tans minimally</option>
                            <option value="3">Type III (scores 14–20) Cream white; fair with any hair or eye color; quite common — Sometimes mild burn, tans uniformly</option>
                            <option value="4">Type IV (scores 21–27) Moderate brown; typical Mediterranean skin tone — Rarely burns, always tans well</option>
                            <option value="5">Type V (scores 28–34) Dark brown; Middle Eastern skin types — Very rarely burns, tans very easily</option>
                            <option value="5">Type VI (scores 35–36) Deeply pigmented dark brown to black — Never burns, tans very easily</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="country" class="control-label">Country</label>
                        <input type="text" class="form-control" id="country" name="country" value="" required="" title="Please enter you country of residence" placeholder="UK">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="year" class="control-label">Year of Birth</label>
                        <input type="text" class="form-control" id="year" name="year" value="" required="" title="Please enter your year of birth" placeholder="1980">
                        <span class="help-block"></span>
                    </div>
                    <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                    <button type="submit" class="btn btn-profile btn-success btn-block">Create User Profile</button>
                </form>
            </div>

        </div>
</div>

<script>
    $("#create_account").submit(function (event) {
        event.preventDefault();
        url = "/_/account";
        Logger("info", "Account", "Submitting form...");
        var data = {
            gender: $('#gender').val(),
            country: $('#country').val(),
            year: $('#year').val(),
            skin_tone: $('#skin_tone').val(),
            eye_colour: $('#eye_colour').val()
        };
        var packet = JSON.stringify(data);
        submit(packet, url);
        return false;
    });
</script>

<script>
    $("#signup_form").submit(function(event){
        event.preventDefault();
        var data = {
            email: $("#_email").val(),
            firstName: $("#first_name").val(),
            lastName: $("#last_name").val(),
            password: $("#_password").val(),
            confirmPassword: $("#_password2").val()
        }
        ajax(data, endpoints.CREATE_ACCOUNT, function(err, packet){
            if (typeof packet !== "undefined" && typeof packet.status !== "undefined" && packet.status === "ok"){
                setTimeout(function() {
                    window.location.reload();
                }, 5000);
            } else {
                console.error(err);
                $("#_password").val("");
                $("#_password2").val("");
            }
        });
    });
</script>