<h1>Dashboard</h1>

<button onclick="window.location.href='/account/edit'" class="btn btn-link btn-block">Edit Account</button>
<button onclick="window.location.href='/problems'" class="btn btn-link btn-block">View my problems</button>