<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Image</strong></div>
        <div class="panel-body">
            <h4>Select files from your computer</h4>
            <form id="uploadForm" enctype="multipart/form-data"  action="/_/images"   method="post" class="form-group">
            <div class="form-inline">
                    <div class="form-group">
                        <input id="image" type="file" name="userPhoto" class="file"/>
                    </div>
                    <button type="submit" class="uploads btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("image").setAttribute("name", window.location.href.toString().split(window.location.host + "/images/submit?sid=")[1]);
</script>