<button onclick="window.location.href='/problems/submit'" class="btn btn-info btn-block">New Problem</button>
<br>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i in data) { %>
    <tr>
        <td><a href="/problems/<%= data[i].id %>"><%= data[i].id %></a></td>
        <td><%= data[i].type %></td>
        <td><%= data[i].description %></td>
    </tr>
    <% } %>
    </tbody>
</table>